ONBOARDING AGENT.json
{
  "name": "ONBOARDING AGENT",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        -464
      ],
      "id": "1a8832ea-f5aa-46d7-b1ea-23da0265985c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Get the transcript array from the Combine node\nconst transcripts = $input.item.json.transcript;\n\n// Function to extract Google Meet transcript with timestamps\nfunction extractTranscriptWithTimestamps(rawText) {\n  // Extract just the transcript section (after \"📖 Transcript\" and before the disclaimer)\n  const transcriptMatch = rawText.match(/📖 Transcript[\\s\\S]*?Transcript\\s+([\\s\\S]*?)(?=This editable transcript|$)/);\n  \n  if (!transcriptMatch) {\n    return null;\n  }\n  \n  let transcriptText = transcriptMatch[1].trim();\n  \n  // Remove only the \"Transcription ended after\" line\n  transcriptText = transcriptText.replace(/Transcription ended after.*$/gm, '');\n  \n  // Clean up excessive whitespace\n  transcriptText = transcriptText.replace(/\\r\\n/g, '\\n');\n  transcriptText = transcriptText.replace(/\\n{3,}/g, '\\n\\n');\n  \n  return transcriptText.trim();\n}\n\n// Process both transcripts\nconst initialSalesCallTranscript = extractTranscriptWithTimestamps(transcripts[0]);\nconst latestClosingCallTranscript = extractTranscriptWithTimestamps(transcripts[1]);\n\n// Return ONE item with both transcripts\nreturn {\n  json: {\n    initial_sales_call_transcript: initialSalesCallTranscript,\n    latest_closing_call_transcript: latestClosingCallTranscript\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -656
      ],
      "id": "a5f33b45-48cf-4809-b53f-5dc4ab9322a7",
      "name": "Clean Up Transcript"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "transcript"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        -656
      ],
      "id": "a506f598-a4fa-4a1e-9b98-2b6fa80a0962",
      "name": "Combine All Transcripts"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "transcript",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1248,
        -656
      ],
      "id": "1f548d5d-c992-4d9a-8d5d-667124bad82c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.Transcripts }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1024,
        -656
      ],
      "id": "fb11778c-5ee1-410c-986b-46bd1d6b9e72",
      "name": "Download Transcripts",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bVg1jTTGpTRaLZdF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Transcripts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        -656
      ],
      "id": "6723723b-7a6e-4fd5-91e2-ea98e87a2b83",
      "name": "Split IDs for Individual Processing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993966c5-150a-4f73-99ef-94b0db7fc93a",
              "name": "Transcripts",
              "value": "={{ [$json['Sales Transcript ID '], $json['Latest/Closed Transcript ID']] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -656
      ],
      "id": "12920fc0-fd91-4bde-82d8-7aa45303155d",
      "name": "Prepare Lead Data Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4762acc5-b297-4667-8971-9ef47e03a87b",
              "leftValue": "={{ $json['Closed?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -560
      ],
      "id": "78184688-8a8d-446d-adbf-a09d36976bba",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1ZD6nYo0Gh7wQaKowLzNMdTI8ERgYr5JUJal22HnY7bw",
          "mode": "list",
          "cachedResultName": "CRM - Sales Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD6nYo0Gh7wQaKowLzNMdTI8ERgYr5JUJal22HnY7bw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD6nYo0Gh7wQaKowLzNMdTI8ERgYr5JUJal22HnY7bw/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Closed?"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -560
      ],
      "id": "2aeea41d-a816-4659-ac24-0c5a232d0d63",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "OqeBBBlSCGm3AuMU",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Initial/Sales Call:{{ $json.initial_sales_call_transcript }}\n              Latest/Closing Call:{{ $json.latest_closing_call_transcript }}\n              If any information contradicts, always use the data mentioned in the closing call.",
        "attributes": {
          "attributes": [
            {
              "name": "Project Title",
              "description": "Project Title (keep in mind this is for a contract, so everything should look clean and professional)",
              "required": true
            },
            {
              "name": "Project.Fee",
              "description": "Project Fee (keep in mind this is for a contract, so everything should look clean and professional)",
              "required": true
            },
            {
              "name": "Deposit %, milestone amounts, due dates",
              "description": "We have two milestones, each with a deposit percentage and a due date. Please structure them clearly, as they will be included in a single line of the contract.",
              "required": true
            },
            {
              "name": "Start Date",
              "description": "A week from {{$now}} - we need to specify an **exact date**  for that (no time required).",
              "required": true
            },
            {
              "name": "Estimated Completion Date",
              "description": "Estimated completion date - this is usually based on what we discussed during the call at the start of the project. The project start date serves as the official start date.",
              "required": true
            },
            {
              "name": "Ongoing monthly maintenance",
              "description": "If a specific monthly cost was mentioned, use that amount from the call extract and label it as monthly ongoing maintenance. If it wasn't mentioned, default to $700 per month.",
              "required": true
            },
            {
              "name": "Project Scope",
              "description": "Describe the project scope in a structured and concise way, as it will be placed above the project deliverables in the contract.",
              "required": true
            },
            {
              "name": "Project Deliverables",
              "description": "Describe the project deliverables concisely, as they will be listed underneath the project scope.",
              "required": true
            },
            {
              "name": "Functionality System Must Have",
              "description": "Describe or state concisely what functionality the system must have. Keep in mind that this will be placed above the \"Functionality to Meet Acceptance Criteria\" field.",
              "required": true
            },
            {
              "name": "Functionality To Meet Acceptance",
              "description": "Describe or state concisely what functionality the system must have to meet the acceptance criteria. Keep in mind that this section will be placed underneath the functionality.",
              "required": true
            },
            {
              "name": "Milestone One",
              "description": "Since payment is based on milestones and we have two in total, state Milestone One concisely and clearly.",
              "required": true
            },
            {
              "name": "Milestone one payment percent",
              "description": "What will be the payment percentage for Milestone One? If nothing is mentioned, default to 50%.",
              "required": true
            },
            {
              "name": "Milestone One Due Date",
              "description": "The due date for Milestone One should be based on the conversation. Estimate how long it will take to reach Milestone One and add that duration to the extracted dates.",
              "required": true
            },
            {
              "name": "Milestone two",
              "description": "Since payment is based on milestones and we have two in total, state Milestone Two concisely and clearly.",
              "required": true
            },
            {
              "name": "Milestone Two Payment Percent",
              "description": "What will be the payment percentage for Milestone Two? If nothing is mentioned, default to 50%.",
              "required": true
            },
            {
              "name": "Milestone Two Due Date",
              "description": "The due date for Milestone Two should be based on the conversation. Estimate how long it will take to reach Milestone Two and add that duration to the extracted dates.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1920,
        -656
      ],
      "id": "4d7a7ab5-936e-45c3-9b1b-a5bc517080ff",
      "name": "Extract information for the contract"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1856,
        -448
      ],
      "id": "c55484ca-9b67-4c68-bc0e-475ae5985a1d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "9R7ig6nFD1mEQs1t",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pandadoc.com/public/v1/documents",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API-Key YOUR_PANDADOC_API_KEY_HERE"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_uuid\": \"YOUR_TEMPLATE_ID\",\n  \"recipients\": [\n    {\n      \"redirect\": {\n        \"is_enabled\": false,\n        \"url\": null\n      },\n      \"type\": \"recipient\",\n      \"role\": \"Buyer\",\n      \"signing_order\": 2,\n      \"email\": \"{{ $('Google Sheets Trigger').item.json['Contact Email'].trim() }}\",\n      \"first_name\": \"{{ $('Google Sheets Trigger').item.json['First Name'] }}\",\n      \"last_name\": \"{{ $('Google Sheets Trigger').item.json['Last Name'] }}\"\n    },\n    {\n      \"redirect\": {\n        \"is_enabled\": false,\n        \"url\": null\n      },\n      \"type\": \"recipient\",\n      \"role\": \"Seller\",\n      \"signing_order\": 1,\n      \"email\": \"YOUR_EMAIL\",\n      \"first_name\": \"YOUR_FIRST_NAME\",\n      \"last_name\": \"YOUR_LAST_NAME\"\n    }\n  ],\n  \"name\": \"Contract for {{ $('Google Sheets Trigger').item.json['Company Name'] }}\",\n  \"tokens\": [\n    {\n      \"name\": \"Project.Title\",\n      \"value\": \"{{ $json.output['Project Title'] }}\"\n    },\n    {\n      \"name\": \"Buyer.FirstName\",\n      \"value\": \"{{ $('Google Sheets Trigger').item.json['First Name'] }}\"\n    },\n    {\n      \"name\": \"Buyer.LastName\",\n      \"value\": \"{{ $('Google Sheets Trigger').item.json['Last Name'] }}\"\n    },\n    {\n      \"name\": \"Buyer.Company\",\n      \"value\": \"{{ $('Google Sheets Trigger').item.json['Company Name'] }}\"\n    },\n    {\n      \"name\": \"Buyer.Address\",\n      \"value\": \"{{ $('Google Sheets Trigger').item.json['Company Address'] }}\"\n    },\n    {\n      \"name\": \"Seller.Company\",\n      \"value\": \"YOUR_COMPANY_NAME\"\n    },\n    {\n      \"name\": \"Seller.Address\",\n      \"value\": \"YOUR_ADDRESS\"\n    },\n    {\n      \"name\": \"Project.Fee\",\n      \"value\": \"{{ $json.output['Project.Fee'] }}\"\n    },\n    {\n      \"name\": \"Deposit %, milestone amounts, due dates\",\n      \"value\": \"{{ $json.output['Deposit %, milestone amounts, due dates'] }}\"\n    },\n    {\n      \"name\": \"Start.Date\",\n      \"value\": \"{{ $json.output['Start Date'] }}\"\n    },\n    {\n      \"name\": \"EstimatedCompletionDate\",\n      \"value\": \"{{ $json.output['Estimated Completion Date'] }}\"\n    },\n    {\n      \"name\": \"Ongoing.monthly.maintenance\",\n      \"value\": \"{{ $json.output['Ongoing monthly maintenance'] }}\"\n    },\n    {\n      \"name\": \"Seller.FirstName\",\n      \"value\": \"YOUR_FIRST_NAME\"\n    },\n    {\n      \"name\": \"Seller.LastName\",\n      \"value\": \"YOUR_LAST_NAME\"\n    },\n    {\n      \"name\": \"Project.Scope\",\n      \"value\": \"{{ $json.output['Project Scope'] }}\"\n    },\n    {\n      \"name\": \"Project.Deliverables\",\n      \"value\": \"{{ $json.output['Project Deliverables'] }}\"\n    },\n    {\n      \"name\": \"Functionality.System.Must.Have\",\n      \"value\": \"{{ $json.output['Functionality System Must Have'] }}\"\n    },\n    {\n      \"name\": \"milestoneone\",\n      \"value\": \"{{ $json.output['Milestone One'] }}\"\n    },\n    {\n      \"name\": \"milestoneoneduedate\",\n      \"value\": \"{{ $json.output['Milestone One Due Date'] }}\"\n    },\n    {\n      \"name\": \"milestoneonepaymentpercent\",\n      \"value\": \"{{ $json.output['Milestone one payment percent'] }}\"\n    },\n    {\n      \"name\": \"milestonetwo\",\n      \"value\": \"{{ $json.output['Milestone two'] }}\"\n    },\n    {\n      \"name\": \"milestonetwoduedate\",\n      \"value\": \"{{ $json.output['Milestone Two Due Date'] }}\"\n    },\n    {\n      \"name\": \"milestonetwopaymentpercent\",\n      \"value\": \"{{ $json.output['Milestone Two Payment Percent'] }}\"\n    },\n    {\n      \"name\": \"Functionality.To.Meet.Acceptance\",\n      \"value\": \"{{ $json.output['Functionality To Meet Acceptance'] }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        -656
      ],
      "id": "e8f9a1b2-c3d4-4e5f-6a7b-8c9d0e1f2a3b",
      "name": "Create PandaDoc Contract"
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 15,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        -656
      ],
      "id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
      "name": "Wait"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.pandadoc.com/public/v1/documents/{{ $json.id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API-Key YOUR_PANDADOC_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        -656
      ],
      "id": "a2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
      "name": "Check Document Status"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "YOUR_EMAIL_HERE",
        "subject": "Please review the contract for {{ $('Google Sheets Trigger').item.json['Company Name'] }}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Document Review Request</title>\n</head>\n<body style=\"margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Arial,sans-serif;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" id=\"background-table\">\n        <tbody>\n            <tr>\n                <td align=\"center\" bgcolor=\"#e5e5e5\">\n                    <table width=\"480\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                        <tbody>\n                            <tr>\n                                <td width=\"480\" height=\"30\"></td>\n                            </tr>\n                            \n                            <!-- Logo -->\n                            <tr>\n                                <td width=\"480\" height=\"30\" align=\"center\">\n                                    <img style=\"display:block;height:50px;text-align:center;border:none\" \n                                         src=\"https://ci3.googleusercontent.com/meips/ADKq_NbIyITpPGxTiY44VH7l_2C0PODwsRpYl8te8n4qf0MySrV6nsJJ54Yzgc_S90Aw1ZCCmMxWdF2bVwXEiRFyn-PpEtFqWhmYw7ROohiBZ3MpvQJpEzbUpgEr=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/pd-emails/images/pd-logo-new.png\" \n                                         alt=\"\" \n                                         title=\"\" \n                                         height=\"50\" \n                                         border=\"0\">\n                                </td>\n                            </tr>\n                            \n                            <tr>\n                                <td width=\"480\" height=\"30\"></td>\n                            </tr>\n                            \n                            <!-- Main Content Box -->\n                            <tr>\n                                <td width=\"480\" id=\"content-table\" bgcolor=\"#ffffff\" align=\"center\">\n                                    <table width=\"480\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" id=\"email-base-table\">\n                                        <tbody>\n                                            <tr>\n                                                <td width=\"40\"></td>\n                                                <td width=\"400\" height=\"30\"></td>\n                                                <td width=\"40\"></td>\n                                            </tr>\n                                            <tr>\n                                                <td width=\"40\"></td>\n                                                <td width=\"400\">\n                                                    <table width=\"400\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" id=\"basic-table\">\n                                                        <tbody>\n                                                            <tr>\n                                                                <td width=\"400\">\n                                                                    <table width=\"400\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                                        <tbody>\n                                                                            <tr>\n                                                                                <td width=\"70\" valign=\"top\"></td>\n                                                                                <td width=\"330\" valign=\"top\" style=\"font-family:'Helvetica Neue','Helvetica',Arial,sans-serif;font-size:15px;color:#333b40;margin:0;padding:0;border-collapse:collapse;line-height:22px!important\">\n                                                                                    <b></b> You need to review a <b>[DEV] Contract for {{ $('Google Sheets Trigger').item.json['Company Name'] }} </b>.\n                                                                                </td>\n                                                                            </tr>\n                                                                        </tbody>\n                                                                    </table>\n                                                                </td>\n                                                            </tr>\n                                                            <tr>\n                                                                <td width=\"400\">\n                                                                    <hr size=\"1\" noshade style=\"margin:10px 0 20px 0;border:none;color:#eaeaea;background-color:#eaeaea;height:1px\">\n                                                                </td>\n                                                            </tr>\n                                                            \n                                                            <tr>\n                                                                <td width=\"400\" align=\"center\">\n                                                                    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:100%;text-align:center;border-collapse:separate;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px\">\n                                                                        <tbody>\n                                                                            <tr>\n                                                                                <td valign=\"middle\" style=\"width:50%;border-radius:2px;font-size:16px;letter-spacing:1.2px;padding:0px;margin-right:20px;background-color:#248567\">\n                                                                                    <a title=\"Review the document\" \n                                                                                       href=\"https://app.pandadoc.com/a/#/documents/{{ $json.id }}\" \n                                                                                       style=\"font-size:13px;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;word-wrap:break-word;text-transform:uppercase;display:inline-block;padding:11px 25px\" \n                                                                                       target=\"_blank\">\n                                                                                        Review the document\n                                                                                    </a>\n                                                                                </td>\n                                                                            </tr>\n                                                                        </tbody>\n                                                                    </table>\n                                                                </td>\n                                                            </tr>\n                                                        </tbody>\n                                                    </table>\n                                                </td>\n                                                <td width=\"40\"></td>\n                                            </tr>\n                                            <tr>\n                                                <td width=\"40\"></td>\n                                                <td width=\"400\" height=\"30\"></td>\n                                                <td width=\"40\"></td>\n                                            </tr>\n                                        </tbody>\n                                    </table>\n                                </td>\n                            </tr>\n                            \n                            <!-- Footer -->\n                            <tr>\n                                <td width=\"480\">\n                                    <table width=\"480\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                        <tbody>\n                                            <tr>\n                                                <td width=\"51\"></td>\n                                                <td width=\"378\">\n                                                    <p align=\"center\" style=\"color:#767676;font-size:12px;line-height:15px;text-align:center;padding-bottom:20px;font-family:'Helvetica Neue','Helvetica',Arial,sans-serif\">\n                                                        Use PandaDoc to create, send, track, and eSign documents — quickly and securely.\n                                                    </p>\n                                                </td>\n                                                <td width=\"51\"></td>\n                                            </tr>\n                                        </tbody>\n                                    </table>\n                                </td>\n                            </tr>\n                        </tbody>\n                    </table>\n                </td>\n            </tr>\n        </tbody>\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2816,
        -656
      ],
      "id": "b3c4d5e6-f7a8-4b9c-0d1e-2f3a4b5c6d7e",
      "name": "Send a message"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZD6nYo0Gh7wQaKowLzNMdTI8ERgYr5JUJal22HnY7bw",
          "mode": "list",
          "cachedResultName": "CRM - Sales Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD6nYo0Gh7wQaKowLzNMdTI8ERgYr5JUJal22HnY7bw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD6nYo0Gh7wQaKowLzNMdTI8ERgYr5JUJal22HnY7bw/edit#gid=0"
        },
        "columnToMatchOn": "Contact Email",
        "valueToMatchOn": "={{ $('Google Sheets Trigger').item.json['Contact Email'] }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contract Sent?": "true",
            "Contract ID": "={{ $('Check Document Status').item.json.id }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        3040,
        -656
      ],
      "id": "c4d5e6f7-a8b9-4c0d-1e2f-3a4b5c6d7e8f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OqeBBBlSCGm3AuMU",
          "name": "Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Clean Up Transcript": {
      "main": [
        [
          {
            "node": "Extract information for the contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Transcripts": {
      "main": [
        [
          {
            "node": "Clean Up Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Combine All Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Transcripts": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split IDs for Individual Processing": {
      "main": [
        [
          {
            "node": "Download Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data Fields": {
      "main": [
        [
          {
            "node": "Split IDs for Individual Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare Lead Data Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract information for the contract",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract information for the contract": {
      "main": [
        [
          {
            "node": "Create PandaDoc Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PandaDoc Contract": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Document Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Document Status": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9cd439d1-c54c-410f-bbdb-bec0d83b32da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8639e41394d2a30eb552d4234c5e800f9dcb437ad5d7689e73f0e26b09ffa0e"
  },
  "id": "5ipBs44aBaf5zwvk",
  "tags": []
}